<form>
  <div class="form-group row" *ngFor="let col of columns; let i = index">
    <label [for]="'input-' + i" class="col-sm-2 col-form-label">{{ col }}:</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [id]="'input-' + i"
        [(ngModel)]="entries[row][col]"
        [name]="'input-' + i"
      />
    </div>
  </div>
  <div class="button-group">
    <a routerLink="/table" class="btn btn-danger">Cancel</a>
    <a class="btn btn-success" (click)="routeToTable()">Save</a>
  </div>
</form>