<textarea
  class="textarea"
  name="textarea"
  cols="30"
  rows="10"
  placeholder="Enter a JSON string..."
  [(ngModel)]="str"
  #textarea
></textarea>
<div class="button-group">
  <a routerLink="/table" [state]="{str: str}" class="btn btn-primary">Edit</a>
  <button class="btn btn-primary" (click)="downloadCsv('json.csv', str)">Download CSV</button>
  <button class="btn btn-primary" (click)="downloadJson('json.JSON', str)">Download JSON</button>
  <input type="file" accept="application/JSON" #upload style="display:none;" (input)="readFile()">
  <button class="btn btn-primary" (click)="uploadFile()">Upload JSON</button>
</div>