<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of columns">{{col}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let col of columns">{{ entry[col] }}</td>
      <td>
        <a [routerLink]="'edit/' + i" class="btn btn-primary btn--left">Edit</a>
        <button class="btn btn-danger" (click)="deleteEntry(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="" [state]="jsonStr" class="btn btn-success btn--to-json">Convert to JSON</a>