<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of columns">{{col}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let col of columns">{{ entry[col] }}</td>
      <td>
        <fa-icon [icon]="up" class="btn--left arrow" (click)="moveUp(i)"></fa-icon>
        <fa-icon [icon]="down" class="btn--left arrow" (click)="moveDown(i)"></fa-icon>
        <a [routerLink]="'edit/' + i" class="btn btn-primary btn--left">Edit</a>
        <button class="btn btn-danger" (click)="deleteEntry(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="button-group">
  <a class="btn btn-success" (click)="addEntry()">Add entry</a>
  <a routerLink="" [state]="jsonStr" class="btn btn-success">Convert to JSON</a>
</div>